<div class="d-flex justify-content-center h-100">
    <div class="card">
        <div class="card-header">
            <h3 class="text-main">Login</h3>
            <!-- <div class="d-flex justify-content-end social_icon">
                <span><i style="color: #bbe1fa;" class="fab fa-facebook-square"></i></span>
                <span><i style="color: #bbe1fa;" class="fab fa-google-plus-square"></i></span>
            </div> -->
        </div>
        <div class="card-body">
            <form (ngSubmit)="onSubmit()" [formGroup]="formUser">
                <div class="form-group">
                    <label for="username" style="font-weight: 400; color: #bbe1fa;">Email:</label>
                    <input type="text" class="form-control" name="username" formControlName="username" placeholder="Enter your email address" required>
                    <!-- <app-error-validate [control]="formUser.controls.email"></app-error-validate> -->
                </div>

                <div class="form-group">
                    <label for="password" style="font-weight: 400; color: #bbe1fa;">Password:</label>
                    <input type="password" class="form-control" name="password" formControlName="password" placeholder="Enter your password" required>
                    <!-- <app-error-validate [control]="formUser.controls.password"></app-error-validate> -->
                </div>

                <div class="row align-items-center remember">
                    <input type="checkbox" name="rememberme" formControlName="rememberme">Remember Me
                </div>
                <div class="form-group">
                    <button type="submit" class="btn float-right login_btn btn-outline-secondary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>