<div class="container">
    <div class="row py-1">
        <div class="col-lg-6 mx-auto">
            <!-- Upload image input-->
            <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                <input id="upload" #file accept="image/*" multiple type="file" required (change)="getFormData(file.files);" class="form-control border-0">
                <label id="upload-label" for="upload" class="font-weight-light text-muted">Choose file</label>
                <div class="input-group-append">
                    <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Choose file</small></label>
                </div>
            </div>
        </div>
    </div>

    <!-- A list of images in a 3-column grid. -->
    <div class="row" style="justify-content: center;">
        <!-- <p *ngFor="let file of fileDatas">{{file.name}}</p> -->
        <mat-list style="width: 75%;">
            <div mat-subheader *ngIf="fileDatas?.length > 0;">List images:</div>
            <mat-list-item *ngFor="let file of fileDatas">
                <mat-icon mat-list-icon>image</mat-icon>
                <div mat-line>{{file.name}}</div>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list>
    </div>

    <div class="row py-4" *ngIf="fileDatas?.length > 0;">
        <div class="col-lg-6 mx-auto">
            <!-- Upload image input-->
            <button type="submit" class="btn btn-outline-primary input-group mb-3 px-2 py-2 rounded-pill shadow-sm justify-content-center" (click)="upload()">Submit</button>
        </div>
    </div>
</div>