<div class="row">
    <div class="col-xl-12 col-lg-8 col-md-7">
        <div class="row form-group" style="display: flex; justify-content: flex-end;">
            <div class="rounded-pill bg-white shadow-sm" style="width: auto;">
                <input id="upload-siamese" #file accept="image/*" multiple type="file" (change)="uploadImages($event)" class="border-0" style="width: 0px;">
                <label for="upload-siamese" class="btn btn-light m-0 rounded-pill px-4"> <i
                        class="fa fa-cloud-upload mr-2 text-muted"></i><small
                        class="text-uppercase font-weight-bold text-muted">Upload</small></label>
            </div>
        </div>
        <div class="row">
            <h5 *ngIf="data == undefined; else elseThen" style="text-align: center; color: #c313b7;"><em>Loading...</em></h5>
            <ng-template #elseThen>
                <table class="table table-hover">
                    <thead style="background-color: #255e86;">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">File name</th>
                            <th scope="col">Date</th>
                            <th scope="col">Using</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data.siamese_list | paginate: { id: 'sample_page',
                                itemsPerPage: 9,
                                currentPage: page,
                                totalItems: data.siamese_list.length }">
                            <td>{{item.id}}</td>
                            <td>{{item.file}}</td>
                            <td>{{item.created | date: 'dd/MM/yyyy'}}</td>
                            <td>
                                <mat-icon *ngIf="item.using == true;" mat-list-icon>done</mat-icon>
                            </td>
                            <td>
                                <mat-icon class="icon" mat-list-icon style=" margin-right: 15px;">edit</mat-icon>
                                <a href="http://34.80.207.240/detection/download?id={{item.id}}">
                                    <mat-icon class="icon" mat-list-icon>get_app</mat-icon>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>
        </div>
        <div class="row" style="justify-content: center;">
            <pagination-controls id="sample_page" maxSize="9" directionLinks="true" class="my-pagination" (pageChange)="page = $event"></pagination-controls>
        </div>
    </div>
</div>