.img-contain {
    height: auto;
    position: relative;
    width: max-content;
    max-width: 100%;
    margin: 20px 0px;
}

.img-guide {
    height: auto;
    position: relative;
    width: max-content;
    max-width: 100%;
    margin: 20px 0px;
}

.img-guide img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: calc(100vh - 20px - 30px - 58px - 20px - 100px);
    background-blend-mode: unset;
    user-select: none;
}

.pt-20 {
    padding-top: 20px;
}

.contain-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.img-contain img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: calc(100vh - 20px - 30px - 58px - 20px - 100px);
    background-blend-mode: unset;
    user-select: none;
    border: 2px dashed;
}

.input-file-container {
    position: relative;
    width: 270px;
    margin: 0 auto;
}

.input-file {
    position: absolute;
    width: 270px;
    opacity: 0;
    padding: 14px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.icon-upload {
    height: 40px;
    margin-right: 10px;
}

.input-file-label {
    display: block;
    padding: 14px 40px;
    background: #39D2B4;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    margin: 0;
    width: 270px;
    background: #34495E;
    color: #39D2B4;
}

.control-buttons {
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    border: 1px solid #ccc;
    background: transparent;
}

.exam-frame {
    flex: 0 0 49% !important;
    margin-left: 1%;
    max-width: 49%;
    background: transparent;
    border: 1px solid #ccc;
}

.bd-frame {
    border: 1px solid #ccc;
    background: transparent;
}

.contain-hide {
    display: none;
}

.container-upload {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-box {
    padding: 150px 200px;
    background: transparent;
    border: 2px dashed #ccc;
}

.coordinate-container {
    border: 1px solid #ccc;
    background: transparent;
    border-radius: 3px;
    padding: 10px;
}

.coordinate-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.coordinate-list li:last-child {
    margin: 0;
}

.shape-item {
    display: flex;
    margin-bottom: 10px;
}

.coordinate-item {
    margin: 0 20px;
    width: 300px;
}

.coordinate-item span {
    padding: 0 5px;
}

.shape-title {
    width: 150px;
}

.note-contain {
    background: transparent;
    position: absolute;
    top: 0;
    z-index: 9999;
    font-size: 26px;
    color: #eb2a2a;
    font-weight: bold;
}

.draw-buttons button {
    min-width: 90px;
}

.note-text {
    background: none;
    padding: 3px;
    font-size: 26px;
    color: #eb2a2a;
    font-weight: bold;
}

body {
    background: aliceblue !important;
}

.col-border {
    border: 1px solid #ccc;
}

.draw-contain {
    padding: 30px 0;
}