<div class="container draw-contain">
    <div class="control-buttons px-3 py-3">
        <div class="draw-buttons">
            <button class="btn btn-danger mr-2" id="package" (click)="drawPackage()">Hình</button>
            <button class="btn btn-primary mr-2" id="blue-text" (click)="drawNumber()">Số hiệu</button>
            <button class="btn btn-dark" id="black-text" (click)="drawCode()">Mã</button>
        </div>
        <button class="btn btn-success px-5" id="shapes-submit" (click)="submit()">Submit</button>
    </div>
    <div class="row my-2 mx-0">
        <div class="col-md-6 bd-frame">
            <div class="img-contain" style="margin: auto; margin-top: 10px; margin-bottom: 10px;">
                <img src="{{data.file}}" #imageUpload>
                <canvas class="contain-canvas" id="canvas-shapes" (mousedown)="onMousedown($event)" (mousemove)="onMousemove($event)" (mouseup)="onMouseup($event)"></canvas>
            </div>
        </div>
        <div class="col-md-6 exam-frame">
            <!-- <img src="{{data.file}}"> -->
        </div>
    </div>
    <!-- <div class="coordinate-container">
        <ul class="coordinate-list"></ul>
    </div> -->
</div>