<div class="container">
    <div class="row form-group" style="display: flex; justify-content: flex-end;">
        <div class="rounded-pill bg-white shadow-sm" style="width: auto;">
            <input id="upload" #file accept="image/*" multiple type="file" (change)="initImages($event)" class="border-0" style="width: 0px;">
            <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i
                    class="fa fa-cloud-upload mr-2 text-muted"></i><small
                    class="text-uppercase font-weight-bold text-muted">Upload</small></label>
        </div>
    </div>


    <!-- A list of images in a 3-column grid. -->
    <div class="row" style="justify-content: center;">
        <!-- <p *ngFor="let file of fileDatas">{{file.name}}</p> -->
        <mat-list style="width: 60%;">
            <mat-list-item *ngIf="images?.length > 0;" style="padding: 20px; margin-bottom: 10px;">
                <div mat-subheader style="width: 30%; font-size: larger;">
                    Enter code:
                </div>
                <div class="form-group" style="width: 100%; display: flex;">
                    <input type="text" class="form-control" style="margin-left: 5px;" placeholder="code" (change)="changeCode($event)">
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item *ngFor="let image of images | paginate: { id: 'sample_page',
            itemsPerPage: 9,
            currentPage: page,
            totalItems: images.length }" style="height: 185px; padding: 20px; margin-bottom: 20px;">
                <div style="width: 30%;">
                    <img src="{{image.url}}" style="height: 165px;">
                </div>
                <div class="form-group" style="width: 100%; display: flex;">
                    <input type="text" class="form-control" style="margin-left: 5px;" placeholder="code" [(ngModel)]="image.code">
                </div>
                <hr>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list>
    </div>

    <div class="row" style="justify-content: center; margin-top: 10px;">
        <pagination-controls id="sample_page" maxSize="9" directionLinks="true" class="my-pagination" (pageChange)="page = $event"></pagination-controls>
    </div>

    <div class="row py-4" *ngIf="images?.length > 0;">
        <div class="col-lg-6 mx-auto">
            <!-- Upload image input-->
            <button type="submit" class="btn btn-outline-primary input-group mb-3 px-2 py-2 rounded-pill shadow-sm justify-content-center" (click)="uploadImages()" style="color: white;">Submit</button>
        </div>
    </div>
</div>