<div class="d-flex justify-content-center h-100">
    <div class="card">
        <div class="card-header">
            <h3 class="text-main">Register</h3>
        </div>
        <div class="card-body">
            <form (ngSubmit)="onSubmit()" [formGroup]="formUser">
                <div class="form-group">
                    <label for="username" style="font-weight: 400; color: #bbe1fa;">User name:</label>
                    <input type="text" class="form-control" name="username" formControlName="username" placeholder="Enter your name">
                    <!-- <app-error-validate [control]="formUser.controls.email"></app-error-validate> -->
                </div>

                <div class="form-group">
                    <label for="email" style="font-weight: 400; color: #bbe1fa;">Email:</label>
                    <input type="text" class="form-control" name="email" formControlName="email" placeholder="Enter your email address">
                    <app-error-validate [control]="formUser.controls.email"></app-error-validate>
                </div>

                <div class="form-group">
                    <label for="password" style="font-weight: 400; color: #bbe1fa;">Password:</label>
                    <input type="password" class="form-control" name="password" formControlName="password" placeholder="Enter your password">
                    <app-error-validate [control]="formUser.controls.password"></app-error-validate>
                </div>

                <div class="form-group">
                    <label for="password" style="font-weight: 400; color: #bbe1fa;">Password Confirm:</label>
                    <input type="password" class="form-control" name="password_confirm" formControlName="password_confirm" placeholder="Enter your password confirm">
                    <app-error-validate [control]="formUser.controls.password_confirm"></app-error-validate>
                </div>

                <div class="form-group">
                    <input type="submit" [disabled]="formUser.invalid" value="Register" class="btn float-right login_btn btn-outline-secondary">
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-center links">
                You have an account?<a [routerLink]="['/home/auth/login']">Login</a>
            </div>
        </div>
    </div>
</div>