a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.navbar {
    background-color: #3282b8;
    /* background-color: white; */
}

.nav-link {
    color: #bbe1fa;
    font-size: large;
    font-weight: 500;
}

.nav-link:hover,
.nav-link:active {
    color: #0f4c75;
}

.dropdown-item:hover {
    background-color: #3282b8;
    color: #0f4c75;
    cursor: pointer;
}