<div class="header-bar-warp d-flex" style="background-color: #3282b8;">
    <!-- site logo -->
    <a [routerLink]="['/']" routerLinkActive="active" class="site-logo">
        <img src="../../assets/img/logo.png">
    </a>
    <nav class="top-nav-area w-100">
        <div class="user-panel">
            <!-- show info user after login success -->
            <a style="color: #ffffff;">{{this.accountService.getCookies('email')}} <span class="caret"></span></a>&nbsp;
            <!-- <button *ngIf="this.accountService.getCookies('email') == null; else elseLogin" type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-dark dropdown-toggle">Login<span class="caret"></span></button>

            <ul class="dropdown-menu dropdown-menu-right mt-2">
                <li class="px-3 py-2">
                    <app-login></app-login>
                </li>
            </ul> -->

            <!-- <ng-template #elseLogin> -->
            <button *ngIf="this.accountService.getCookies('email') != null" type="button" data-toggle="dropdown" class="btn btn-outline-dark dropdown-toggle"><span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right mt-2" style="background-color: #3282b8;">
                <li class="px-3 py-2">
                    <a class="dropdown-item" (click)="logout()">Logout</a>
                </li>
            </ul>
            <!-- </ng-template> -->
        </div>
        <!-- Menu -->
        <ul class="main-menu primary-menu" style="margin-left: 80px;">
            <li *ngIf="this.accountService.getCookies('is_superuser') == 'true';"><a [routerLink]="['/training']" routerLinkActive="active">Configuration<span
                        class="sr-only">(current)</span></a></li>
            <li><a [routerLink]="['/detect']" routerLinkActive="active">Detection</a></li>
            <li><a [routerLink]="['/tool']" routerLinkActive="active">Tool</a></li>
        </ul>
    </nav>
</div>