<div class="container">
    <div class="row form-group" style="display: flex;justify-content: flex-end;">
        <div class="rounded-pill bg-white shadow-sm" style="width: auto; ">
            <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i
                        class="fa fa-cloud-upload mr-2 text-muted"></i><small
                        class="text-uppercase font-weight-bold text-muted"><a [routerLink]="['/detect-list']"
                            routerLinkActive="active" style="color: #6c757d;">Upload</a></small></label>
        </div>
    </div>

    <!-- Actual search box -->
    <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="text" class="form-control" placeholder="Search" (keyup)="search($event)">
    </div>

    <div class="row">
        <div class="col-xl-12 col-lg-8 col-md-7">
            <div class="row">
                <h5 *ngIf="history == undefined; else elseThen" style="text-align: center; color: #c313b7;"><em>Loading...</em></h5>
                <ng-template #elseThen>
                    <table class="table table-hover">
                        <thead style="background-color: #255e86;">
                            <tr>
                                <th scope="col">Code</th>
                                <th scope="col" style="text-align: center;">Created</th>
                                <th scope="col" style="text-align: center;">Proccessed</th>
                                <th scope="col" style="text-align: center;">Small text</th>
                                <th scope="col" style="text-align: center;">Big text</th>
                                <th scope="col" style="text-align: center;">Sample text</th>
                                <th scope="col" style="text-align: center;">Image</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of filterHistory.images | paginate: { id: 'sample_page',
                                    itemsPerPage: 9,
                                    currentPage: page,
                                    totalItems: history.length }">
                                <td>{{item.code}}</td>
                                <td style="text-align: center;">{{item.created | date: 'dd/MM/yyyy' }}</td>
                                <td style="text-align: center;">
                                    <mat-icon *ngIf="item.processed == true;" mat-list-icon>done</mat-icon>
                                </td>
                                <td style="text-align: center;">{{item.small_text}}</td>
                                <td style="text-align: center;">{{item.big_text}}</td>
                                <td style="text-align: center;">{{item.sample}}</td>
                                <td style="text-align: center;">
                                    <mat-icon class="icon" mat-list-icon (click)="openImg(item)">image</mat-icon>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ng-template>
            </div>
            <div class="row" style="justify-content: center;">
                <pagination-controls id="sample_page" maxSize="9" directionLinks="true" class="my-pagination" (pageChange)="page = $event"></pagination-controls>
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>