<body>
    <app-nav-menu></app-nav-menu>
    <div style="padding-top: 50px; padding-bottom: 10px;" class="parallax">
        <main role="main" class="pb-3">
            <router-outlet></router-outlet>
        </main>
    </div>

    <footer class="footer-section text-muted">
        <div class="container">
            <a [routerLink]="['/']" routerLinkActive="active" class="footer-logo">
                <img src="../assets/img/logo.png">
            </a>
            <!-- <ul class="main-menu footer-menu">
                <li><a [routerLink]="['/training']" routerLinkActive="active">Training</a></li>
            </ul>
            <div class="footer-social d-flex justify-content-center">
                <a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
            </div> -->
        </div>
    </footer>
</body>