<div class="container">
    <div class="row form-group" style="display: flex; justify-content: flex-end;">
        <div class="rounded-pill bg-white shadow-sm" style="width: auto;">
            <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i
                    class="fa fa-cloud-upload mr-2 text-muted"></i><small
                    class="text-uppercase font-weight-bold text-muted"><a [routerLink]="['/upload-multiple']"
                        routerLinkActive="active" style="color: #6c757d;">Upload</a></small></label>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-8 col-md-7">
            <div class="row">
                <h5 *ngIf="images == undefined; else elseThen" style="text-align: center; color: #c313b7;">
                    <em>Loading...</em></h5>
                <ng-template #elseThen>
                    <table class="table table-hover">
                        <thead style="background-color: #255e86;">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Image</th>
                                <th scope="col">Date</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of images | paginate: { id: 'sample_page',
                                    itemsPerPage: 9,
                                    currentPage: page,
                                    totalItems: images.length }">
                                <td>{{item.id}}</td>
                                <td>{{item.file}}</td>
                                <td>{{item.upload_at | date: 'dd/MM/yyyy'}}</td>
                                <td>
                                    <button (click)="customFile(item)" class="btn btn-outline-info">label</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ng-template>
            </div>
            <div class="row" style="justify-content: center;">
                <pagination-controls id="sample_page" maxSize="9" directionLinks="true" class="my-pagination" (pageChange)="page = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>