<div class="container" style="text-align: center;">
    <section fxLayout="column wrap" fxLayoutGap="60px" fxLayoutAlign="center center">
        <div fxFlex style="color: white;">
            404 We are searching for your page...
        </div>
        <!-- <mat-progress-bar mode="indeterminate" style="text-align: center; background-color: violet;"></mat-progress-bar> -->
        <div fxFlex style="background-color: teal; text-align: center; width: 100%;">
            <mat-progress-bar mode="indeterminate" style="text-align: center; background-color: violet;"></mat-progress-bar>
        </div>
        <div fxFlex style="color: white; font-size: large; margin-top: 15px;">
            ... But we can not find it.
        </div>
    </section>
</div>