.tab-train {
    margin-bottom: 50px;
}

.tab-train div a:checked {
    background-color: #255f87;
}

a.nav-item.nav-link.active {
    background-color: #255f87;
}

a.nav-item.nav-link {
    color: white;
}

button.site-btn::before {
    background-color: #255f87;
}

button.site-btn::after {
    background-color: aliceblue;
}