<div class="container">
    <h5 *ngIf="data == undefined; else elseThen">Loading...</h5>
    <ng-template #elseThen>
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-5 sidebar game-page-sideber">
                <!-- <div id="stickySidebar"> -->
                <div class="widget-item">
                    <div class="rating-widget">
                        <h4 class="widget-title">Status</h4>
                        <ul>
                            <li>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" *ngIf="data.is_training == true; else elseTrain" checked disabled>
                                    <ng-template #elseTrain>
                                        <input type="checkbox" class="custom-control-input" disabled>
                                    </ng-template>
                                    <label class="custom-control-label" style="color: white;">&nbsp; Training</label>
                                </div>
                            </li>
                            <li>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" *ngIf="data.ocr_training == true; else elseOcr" checked disabled>
                                    <ng-template #elseOcr>
                                        <input type="checkbox" class="custom-control-input" disabled>
                                    </ng-template>
                                    <label class="custom-control-label" style="color: white;">&nbsp; Ocr
                                        training</label>
                                </div>
                            </li>
                            <li>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" *ngIf="data.yolo_training == true; else elseYolo" checked disabled>
                                    <ng-template #elseYolo>
                                        <input type="checkbox" class="custom-control-input" disabled>
                                    </ng-template>
                                    <label class="custom-control-label" style="color: white;">&nbsp; Yolo
                                        training</label>
                                </div>
                            </li>
                            <li>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" *ngIf="data.siamese_training == true; else elseSiamese" checked disabled>
                                    <ng-template #elseSiamese>
                                        <input type="checkbox" class="custom-control-input" disabled>
                                    </ng-template>
                                    <label class="custom-control-label" style="color: white;">&nbsp; Siamese
                                        training</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- </div> -->
            </div>
            <div class="col-xl-9 col-lg-8 col-md-7 game-single-content">
                <nav class="tab-train">
                    <div class="nav nav-tabs nav-fill" role="tablist">
                        <!-- <a class="nav-item nav-link active" data-toggle="tab" role="tab" href="#nav-training" aria-controls="nav-training" aria-selected="true">Train</a> -->
                        <a class="nav-item nav-link active" data-toggle="tab" role="tab" href="#nav-setup" aria-controls="nav-setup" aria-selected="false">Setup</a>
                    </div>
                </nav>

                <div class="tab-content">
                    <!-- tab setup content -->
                    <div class="col-md-12 tab-pane fade show active" id="nav-setup" style="padding: 0px;">
                        <h5 *ngIf="data == undefined; else elseThen" style="text-align: center; color: #c313b7;">
                            <em>Loading...</em></h5>
                        <ng-template #elseThen>
                            <table class="table table-hover">
                                <thead style="background-color: #255e86;">
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Version name</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Active</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of data.versions | paginate: { id: 'sample_page',
                                itemsPerPage: 9,
                                currentPage: page,
                                totalItems: data.versions.length }" style="cursor: pointer;" (click)="getSamples(item.id)">
                                        <td>{{item.id}}</td>
                                        <td>{{item.name}}</td>
                                        <td>{{item.description}}</td>
                                        <td>
                                            <mat-icon *ngIf="item.is_active == true;" mat-list-icon>done</mat-icon>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </ng-template>
                    </div>
                    <div class="row" style="justify-content: center;">
                        <pagination-controls id="sample_page" maxSize="9" directionLinks="true" class="my-pagination" (pageChange)="page = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>