<div class="container" style="color: #666;">
    <div style="text-align: center; padding-top: 9.5%;">
        <p style="font-size: 160px;
        color: #fff;
        font-weight: 500;
        line-height: 1;
        position: relative;">Game on!</p>
        <p style="font-size: 24px;
        color: rgba(255, 255, 255, 0.4);
        font-weight: 500;
        opacity: 0.39;
        margin-bottom: 70px;
        position: relative;">Fusce erat dui, venenatis et erat in, vulputate dignissim lacus. Donec vitae tempus dolor,<br>sit amet elementum lorem. Ut cursus tempor turpis.</p>
        <a href="#" class="site-btn" style="margin-top: 20px;">Read More  <img src="../../assets/img/icons/double-arrow.png"/></a>
    </div>
</div>