<div class="row">
    <h5 *ngIf="data == undefined; else elseGames" style="text-align: center; color: #c313b7;"><em>Loading...</em></h5>
    <ng-template #elseGames>
        <div class="col-xl-12 col-lg-8 col-md-7">
            <div class="row form-group" style="display: flex; justify-content: flex-end;">
                <div class="rounded-pill bg-white shadow-sm" style="width: auto;">
                    <button class="btn btn-light m-0 rounded-pill px-4" data-toggle="collapse" data-target="#collapseAddSample" aria-expanded="false" aria-controls="collapseAddSample"><i class="fa fa-plus mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted"></small>Add sample</button>
                </div>
            </div>

            <div class="collapse" id="collapseAddSample">
                <form style="width: 100%;;">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Version:</label>
                        <input type="email" class="form-control" disabled value="{{data.data[0].name}}">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Sample Name:</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Description:</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-primary btn-block">Submit</button>
                    </div>
                </form>

            </div>

            <div class="row">

                <table class="table table-hover">
                    <thead style="background-color: #255e86; color: white;">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col" style="text-align: center;color: white;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data.data[0].samples | paginate: { id: 'sample_page',
                        itemsPerPage: 9,
                        currentPage: page,
                        totalItems: data.data[0].samples.length }">
                            <td>{{item.name}}</td>
                            <td>{{item.description}}</td>
                            <td style="text-align: center;">
                                <div class="rounded-pill bg-white shadow-sm" style="width: 75.16px; margin: auto;">
                                    <input id="upload-sample" #file accept="image/*" multiple type="file" (change)="uploadImages(file.files, item.id)" class="border-0" style="width: 0px;">
                                    <label for="upload-sample" class="btn btn-light m-0 rounded-pill px-4"> <i
                                        class="fa fa-cloud-upload mr-2 text-muted"></i></label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="row" style="justify-content: center;">
                <pagination-controls id="sample_page" maxSize="9" directionLinks="true" class="my-pagination" (pageChange)="page = $event"></pagination-controls>
            </div>
        </div>
    </ng-template>
</div>